.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;// grid-gap property is obsolete, we can use gap property and provide <grid-row-gap> <grid-column-gap>
}